*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    color: #222;
    font-family: 'Cutive Mono', monospace;
}

code {
    font-family: 'Cutive Mono', monospace;
}

.Page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Page > h1 {
    margin-bottom: 50px;
  }
  

  .InsideNYCPages{
    width: 70vw;
    margin: 0 auto;
    padding: 2rem 0;
}

img {
    float: left;
    width:  600px;
    height: 600px;
    object-fit: cover;
}

h1 {
    text-indent: 1px; 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;

}



@media screen and (min-width: 768px){
    .InsideNYCPages{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.5rem;
    }
}

p{ 
    text-indent: 1px; 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
   
}

ul{ 
    list-style-type: circle;
    margin-left: 50px;
    float: left;
    width: 400px;
    
}

li span {
    font-weight: bold;
    
}
