*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainBlack: #222;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGrey: #ececec;

body{
    background: $mainWhite;
    color: $mainBlack;
    font-family: 'Cutive Mono', monospace;
}

code {
    font-family: 'Cutive Mono', monospace;
}

.Page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Page > h1 {
    margin-bottom: 50px;
  }